## SQL - Bonus (Optional)

1. Import the SQL database into Pandas. This step may require some research. Feel free to use the code below to get started. Be sure to make any necessary modifications for your username, password, host, port, and database name:

   ```sql
   from sqlalchemy import create_engine
   engine = create_engine('postgresql://localhost:5432/<your_db_name>')
   connection = engine.connect()
   ```
* Consult [SQLAlchemy documentation](https://docs.sqlalchemy.org/en/latest/core/engines.html#postgresql) for more information.
* If using a password, do not upload your password to your GitHub repository.

2. Create a histogram to visualize the most common salary ranges for employees.

3. Create a bar chart of average salary by title.

## Data Import

In [1]:
# 1. Import the SQL database into Pandas. 

# Requires installing additional dependencies for PostGREs and SQLAlchemy
# To intall in gitbash or terminal -- pip install psycopg2 -or- pip install psycopg2 sqlalchemy

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sqlalchemy import create_engine

# Insert pgAdmin username and password in "config.py" file
from config import userID, password

In [3]:
# Create engine and connection to employees db.
engine = create_engine(f'postgresql://{userID}:{password}@localhost:5432/SQL_employeedata')
connection = engine.connect()

In [5]:
# Test query to get records from employees table
employees_data = pd.read_sql("select * from employees", connection)
employees_data.head()

   emp_no emp_title_id  birth_date  first_name  last_name sex   hire_date
0  473302        s0001  1953-07-25    Hideyuki   Zallocco   M  1990-04-28
1  475053        e0002  1954-11-18       Byong  Delgrande   F  1991-09-07
2   57444        e0002  1958-01-30       Berry       Babb   F  1992-03-21
3  421786        s0001  1957-09-28       Xiong   Verhoeff   M  1987-11-26
4  282238        e0003  1952-10-28  Abdelkader    Baumann   F  1991-01-18

In [ ]:
# 2. Create a histogram to visualize the most common salary ranges for employees.

In [6]:
# POTATO -- START HERE--
# May require many table joins

In [ ]:
# 3.Create a bar chart of average salary by title.

In [ ]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen.
# Note: PANDAS bar with pandas.dataframe.plot()
# Formatting options: Width = width of bars, zorder = brings lines to front (bars) or back (gridlines)

# Identify data
bar_plot = all_data_clean_df["Drug Regimen"].value_counts().plot.bar(width=.8, zorder=3)

# Format chart
bar_plot.set_xlabel("Drug Regimen")
bar_plot.set_ylabel("# Measurements")
bar_plot.set_title("Measurements for Each Drug Regimen")

# Save chart image (optional)
# Note: put this before plt.show otherwise image will save as black box.
plt.savefig("images/bar_pandas.png")

# Display chart
bar_plot.grid(zorder=0)